{
  "clientId": "<YOUR-CLIENT-ID>",
  "clientSecret": "<YOUR-CLIENT-SECRET>",
  "subscriptionId": "<YOUR-SUBSCRIPTION-ID>",
  "tenantId": "<YOUR-TENANT-ID>"
  "grafanaAdminPrincipalId": "<YOUR-GRAFANA-ADMIN-PRINCIPAL-ID>"
}